services:
  - type: web
    name: btc-analytics-backend
    env: node
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5000
      - key: GOLD_API_KEY
        sync: false
      - key: METALS_API_KEY
        sync: false
