

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f9f6f1; 
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-bottom: 2rem;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

button {
  margin: 10px 5px;
  padding: 10px 15px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #1e40af;
}

input {
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.send-transaction,
.pending-queue {
  width: 100%;
  max-width: 500px;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f6f1; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.pending-queue ul {
  list-style-type: none;
  padding: 0;
}

.pending-queue li {
  margin-bottom: 10px;
}
